<html>
<head>
    <title>Kafka Tool Login</title>
    <link  rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media='all'/>
    <link  rel="stylesheet" href="/assets/css/app-prod.css" type="text/css" media='all'/>
    <link  rel="stylesheet" href="/assets/css/sweetalert.css" type='text/css' media='all'/>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/loginController.js"></script>
</head>

<body ng-app="login_app" ng-controller="main_controller">

<div class="container-fluid">
    <div class="row" style="padding-top: 30px">
        <div class="col-lg-2 col-lg-offset-5">
            <h1> Login to KafkaTool </h1>
            <form class="form" ng-submit="send_credentials()">
                <div class="form-group">
                    <label> LDAP User: </label>
                    <input type="text" class="form-control" ng-model="username"/>
                </div>
                <div class="form-group">
                    <label> Password: </label>
                    <input type="password" class="form-control" ng-model="password"/>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>

        </div>

    </div>
</div>

<div class="footer text-center">
    <div class="container-fluid text-muted" style="padding: 10px 30px;">
                <span class="asBlock"> Bestseller
                </span> <span class="asBlock">Website : <a
            href="https://about.bestseller.com" target="_blank">https://about.bestseller.com/</a>
                </span>
    </div>
</div>

</body>
</html>
