<div ng-class="alertclass" class="alert  left-margin"
	ng-show="isShow">
	{{msg}}<a href="#" ng-click="hide()"
		class="pull-right"><button class="close btn-xs" type="button">x</button></a>
</div>