<!DOCTYPE html>
<html>
<body>
	<form ng-controller="configController">

		<div class="row">
			<div ng-include="'components/alerttemplate/alert.html'"></div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Kafka Bootstrap Servers</h4>
						<div>
							<input
								type="text" class="form-control" ng-model="brokerurl"
								value="localhost:9092" aria-describedby="brokerurls">
						</div>
						<br>
						<button type="button" ng-click="post()" class="btn btn-primary pull-right">Apply</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Check Connection</h4>
							<div>
								<img src={{imageicon}}></img>
								<span>{{pingmessage}}</span>
							</div>
							<br>
						<button type="button" ng-click="ping()" class="btn btn-primary pull-right">Ping</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
