<!DOCTYPE html>
<html>
<body>
<div ng-controller="messageQueryController">
    <div class="row">
        <div ng-include="'components/alerttemplate/alert.html'"></div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Check Connection & Retrieve available topics</h4>
                    <div>
                        <img src={{imageicon}}></img>
                        <span>{{pingmessage}}</span>
                    </div>
                    <br>
                    <button type="button" ng-click="ping()" class="btn btn-primary pull-right">Ping</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <form>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Query Parameters</h4>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn fld-drp dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Parameter <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropDownFont">
                                    <li><a href="#" ng-click="select('orderId','parameter')">OrderId</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#"
                                           ng-click="select('correlationId','parameter')">CorrelationId</a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input readonly type="text" class="form-control" ng-model="parameter">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="pvalue">Value</span>
                            <input type="text" ng-model="paramvalue" class="form-control" placeholder="String">
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn fld-drp dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Topic <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropDownFont myDropDown">
                                    <li ng-repeat="topicName in topicList"><a href="#"
                                                                              ng-click="select(topicName,'topic')">{{topicName}}</a>
                                        <hr class="divider"/>
                                    </li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <input readonly type="text" class="form-control" ng-model="topic">
                        </div>
                        <div class="flush-div"></div>
                        <button type="button" ng-click="post()" class="btn btn-primary">Retrieve Message</button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
