<!DOCTYPE html>
<html>

<head>
<title>Kafka Tool</title>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media='all' />
<link rel="stylesheet" href="/assets/css/app-dev.css" type="text/css" media='all' />
<link rel='stylesheet' href="/assets/css/sweetalert.css" type='text/css' media='all'/>
<link rel='stylesheet' href="/assets/css/loading-bar.min.css" type='text/css' media='all' />

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/angular.min.js"></script>
<script type='text/javascript' src="/assets/js/loading-bar.min.js"></script>
<script type="text/javascript" src="/assets/js/module.js"></script>
<script type="text/javascript" src="/assets/js/controller.js"></script>
</head>

<body ng-app="module" ng-controller="baseController">
	<div class="navbar navbar-color navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand tab-color">Kafka Tool</span>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#home" data-toggle="tab"
						class="nav-bar-li-color">Home</a></li>
				<!--	<li><a href="#configuration" data-toggle="tab" id="config"
						class="nav-bar-li-color">Configuration</a></li>
				-->	<li><a href="#messageproducer" id="cpTab" data-toggle="tab"
						id="cp" class="nav-bar-li-color">Message Publisher</a></li>
					<li><a href="#help" data-toggle="tab" id="helpsystem"
						class="nav-bar-li-color">Help</a></li>
					<li><a id="logout" class="nav-bar-li-color" href="" ng-click="logOut()">Log out</a></li>
				</ul>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="mainView">

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<h2>Kafka Tool</h2>
						<p class="left-margin">Kafka Tool is an application for sending messages to kafka topics.</p>
						<p class="left-margin">This tool can be configured using configuration screen and connect
							to kafka cluster of different environments (Acceptance, Production, etc.)</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="configuration">
						<h2>Configuration</h2>

						<p class="left-margin">Input system configuration data</p>
						<div class="flush-div"></div>
						<div class="left-margin"
							ng-include="'components/systemconfig/configuration.html'"></div>

					</div>
					<div role="tabpanel" class="tab-pane" id="messageproducer">
						<h2>Publish Message</h2>
						<p class="left-margin">
                            Kafka producer for sending messages to selected topic.</p>
                        <p class="left-margin"> Select the parameter, provide the value
                            and select the topic
                            to retrieve the message from Athena.
                            If you want to retrieve the history of an order, then
                            select <b>History</b> from topic drop down.
						</p>
						<div role="tabpanel" class="tab-pane" id="queryform">
							<div class="flush-div"></div>
							<div class="left-margin"
								 ng-include="'components/queryform/queryform.html'"></div>
						</div>
						<div class="flush-div"></div>
						<div class="left-margin" ng-include="pagename"></div>
						<div role="tabpanel" class="tab-pane" id="postform">
							<div class="flush-div"></div>
							<div class="left-margin"
								 ng-include="'components/postform/postmessage.html'"></div>
						</div>
						<div class="flush-div"></div>
						<div class="left-margin" ng-include="pagename"></div>

						<div class="flush-div"></div>
						<div class="left-margin" ng-include="pagename"></div>

					</div>

					<div role="tabpanel" class="tab-pane" id="help">
						<h2>Help</h2>
						<div class="flush-div"></div>
						<div class="left-margin"
							ng-include="'components/help/help.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container-fluid text-muted" style="padding: 10px 30px;">
			<span class="asBlock"> Bestseller
			</span> <span class="asBlock">Website : <a
				href="https://about.bestseller.com" target="_blank">https://about.bestseller.com/</a>
			</span>
		</div>
	</div>

</body>
</html>
