<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css/app.css" />
<body>
    <div class="panel panel-default" ng-controller="messageSenderController">
        <div class="panel-body">
            <div ng-include="'components/alerttemplate/alert.html'"></div>
            <span class="logs_span">Bulk Messages Posting</span>
                <div class="form-group">
                    <input id="inp_file" type="file" file-model="myFile"/>
                </div>

                <!------ SUBMIT BUTTON ------>
                <div id="btn">
                    <button id="submit_btn" type="button" class="btn btn-primary btn-sm" ng-click="postBulkData()">Bulk Post</button>
                </div>
            <hr>
            <span class="logs_span">Message(s) from Athena</span><button type="button" ng-click="postSelectedRows()" class="btn btn-primary btn-sm pull-right">Post Selected</button>
            <hr>
            <table width="100%" class="table">
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Topic</th>
                    <th>OrderId</th>
                    <th>Message</th>
                    <th>Actions</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in querydatalist" ng-class="{'selected': row.selected}" ng-click="select(row)">
                    <td>{{row.time}}</td>
                    <td>{{row.topic}}</td>
                    <td>{{row.orderId}}</td>
                    <td>{{row.payload}}</td>
                    <td>
                        <button id="btn{{$index}}" type="button" class="btn btn-primary btn-sm"
                                data-toggle="modal" data-target="#modal{{$index}}" ng-click="copyRow($index, row.payload);">
                            View / Edit
                        </button>
                        <div class="modal fade" id="modal{{$index}}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 id="exampleModalLabel">Edit Payload</h2>
                                    </div>
                                    <div class="modal-body">
                                        <h4>Current Payload</h4>
                                        <textarea resize="vertical" id="txta{{$index}}"
                                                  ng-model="updatedPayload[$index]"
                                                  class="md-textarea md-textarea-auto form-control textarea-resize">
                                        </textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" ng-click="update($index);"
                                                data-dismiss="modal">Update
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td ng-bind="row.messagePostStatus" title="click to select a row"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
