<!DOCTYPE html>
<html>
<body>
<div class="panel panel-default" ng-controller="logsController">
	<div class="panel-body">
		<span class="logs_span">Message Status</span><button type="button" ng-click="clearlogs()" class="btn btn-primary btn-sm pull-right">Clear</button>
		<hr>
		<h4>Payload</h4>
		<p>{{message}}</p>
		<h4>Status</h4>
		<p>{{poststatus}}</p>
	</div>
</div>
</body>
</html>
